# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=hackathon_db

# Security Configuration
JWT_SECRET_KEY=your_secret_key_here_at_least_32_chars

# Frontend Configuration
VITE_API_URL=http://localhost:8000/api/v1

# Deployment Settings
NGINX_FILE=local_nginx.conf
PROJECT_VOLUME_SRC=./src/app